# Symfony cache, logs, sessions
/var/
/var/cache/
/var/log/
/var/sessions/

# Parameters / env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

# Vendor & Composer
/vendor/
/composer.phar

# Public assets and uploads
/public/bundles/
/web/uploads/

# Bin (mais garder bin/console)
!/bin/console

# PHPUnit
/phpunit.xml
/app/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine
**/Entity/*~