{% extends 'base.html.twig' %}

{% block title %}Accueil - Quai Antique{% endblock %}

{% block content %}
<h1>Bienvenue au Quai Antique</h1>
<p>Découvrez notre restaurant et nos menus.</p>
{% endblock %}